[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/AutoComplPop"]
	path = bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "bundle/Pydiction"]
	path = bundle/Pydiction
	url = https://github.com/vim-scripts/Pydiction.git
[submodule "bundle/bash-support.vim"]
	path = bundle/bash-support.vim
	url = https://github.com/vim-scripts/bash-support.vim.git
